In [1]:
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd

In [2]:
url="https://www.swiggy.com/city/bangalore/south-indian-collection?page=8"

In [3]:
page=requests.get(url)

In [4]:
page

In [5]:
## Bangalore-df

Restaurant,Cuisine,Coupon,Rating,Delivered_in,Budget,People

In [6]:
restaurant=[]
cuisine=[]
coupon=[]
rating=[]
delivered_in=[]
budget=[]
people=[]
for i in range(1,9):
    url="https://www.swiggy.com/city/bangalore/south-indian-collection?page="+str(i)
    print(url)
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    a= soup.find_all('div', class_="nA6kb")
    for i in a:
        restaurant.append(i.text)
    b= soup.find_all('div', class_="_1gURR")
    for i in b:
        cuisine.append(i.text)    
    d= soup.find_all('span', class_="sNAfh")
    for i in d:
        coupon.append(i.text)
    
    e=soup.find_all('div', class_="_3Mn31")
    for i in e:
        rating.append(i.text.split("•")[0])
        delivered_in.append(i.text.split("•")[1].split(" ")[0])
        budget.append(i.text.split("₹")[1].split(" ")[0])
        people.append(i.text.split("₹")[1].split(" ")[2])
        
print(len(restaurant))
print(len(cuisine))
print(len(coupon))
print(len(rating))
print(len(delivered_in))
print(len(budget))
print(len(people))

https://www.swiggy.com/city/bangalore/south-indian-collection?page=1
https://www.swiggy.com/city/bangalore/south-indian-collection?page=2
https://www.swiggy.com/city/bangalore/south-indian-collection?page=3
https://www.swiggy.com/city/bangalore/south-indian-collection?page=4
https://www.swiggy.com/city/bangalore/south-indian-collection?page=5
https://www.swiggy.com/city/bangalore/south-indian-collection?page=6
https://www.swiggy.com/city/bangalore/south-indian-collection?page=7
https://www.swiggy.com/city/bangalore/south-indian-collection?page=8
128
128
130
128
128
128
128

In [7]:
df=pd.DataFrame({'Restaurant':restaurant, 'Cuisine':cuisine, 'Coupon':coupon[0:128], 'rating':rating,"delivered_in":delivered_in,"budget":budget,"people":people})

In [8]:
df

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people
0,Meghana Foods,"Biryani, Andhra, South Indian, North Indian, C...",50% off | Use WELCOME50,4.3,42,500,TWO
1,Soul Rasa,"Indian, Healthy Food, Home Food, South Indian,...",Flat ₹125 off on orders above ₹249,4.2,39,400,TWO
2,Ayodhya Upachar,"Chinese, Desserts, North Indian, South Indian,...",50% off | Use WELCOME50,4.4,40,200,TWO
3,Puliyogare Point,South Indian,50% off | Use WELCOME50,4.5,28,150,TWO
4,N R Donne Biriyani,"Biryani, South Indian",50% off | Use GUILTFREEJAN,4.2,31,250,TWO
...,...,...,...,...,...,...,...
123,Lakshmi food point,"South Indian, Indian",30% off | Use JUMBO,--,46,200,TWO
124,Mayura 1989,"Chinese, South Indian, North Indian, Desserts,...",50% off | Use GUILTFREEJAN,4.2,35,900,TWO
125,Bob's Bar,"South Indian, North Indian, Desserts",10% off | Use TRYNEW,4.3,52,300,TWO
126,SLV Swadishta (South Indian),South Indian,50% off | Use WELCOME50,4.5,32,300,TWO
127,By 2 Coffee,South Indian,50% off | Use WELCOME50,4.4,23,100,TWO

In [9]:
#hyd=df2

In [10]:
url1="https://www.swiggy.com/city/hyderabad/south-indian-collection"

In [11]:
page=requests.get(url1)

In [12]:
page

In [13]:
restaurant=[]
cuisine=[]
coupon=[]
rating=[]
delivered_in=[]
budget=[]
people=[]
for i in range(1,9):
    url="https://www.swiggy.com/city/hyderabad/south-indian-collection?page="+str(i)
    print(url)
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    a= soup.find_all('div', class_="nA6kb")
    for i in a:
        restaurant.append(i.text)
    b= soup.find_all('div', class_="_1gURR")
    for i in b:
        cuisine.append(i.text)    
    d= soup.find_all('span', class_="sNAfh")
    for i in d:
        coupon.append(i.text)
    
    e=soup.find_all('div', class_="_3Mn31")
    for i in e:
        rating.append(i.text.split("•")[0])
        delivered_in.append(i.text.split("•")[1].split(" ")[0])
        budget.append(i.text.split("₹")[1].split(" ")[0])
        people.append(i.text.split("₹")[1].split(" ")[2])
        
print(len(restaurant))
print(len(cuisine))
print(len(coupon))
print(len(rating))
print(len(delivered_in))
print(len(budget))
print(len(people))

https://www.swiggy.com/city/hyderabad/south-indian-collection?page=1
https://www.swiggy.com/city/hyderabad/south-indian-collection?page=2
https://www.swiggy.com/city/hyderabad/south-indian-collection?page=3
https://www.swiggy.com/city/hyderabad/south-indian-collection?page=4
https://www.swiggy.com/city/hyderabad/south-indian-collection?page=5
https://www.swiggy.com/city/hyderabad/south-indian-collection?page=6
https://www.swiggy.com/city/hyderabad/south-indian-collection?page=7
https://www.swiggy.com/city/hyderabad/south-indian-collection?page=8
128
128
131
128
128
128
128

In [14]:
df2=pd.DataFrame({'Restaurant':restaurant, 'Cuisine':cuisine, 'Coupon':coupon[0:128], 'rating':rating,"delivered_in":delivered_in,"budget":budget,"people":people})

In [15]:
df2

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people
0,Vasista's Sri Lakshmi,"Biryani, Tandoor, Chinese, North Indian, South...",50% off | Use WELCOME50,4.0,24,350,TWO
1,Lucky Multicuisine Restaurant,"Biryani, North Indian, Tandoor, South Indian",50% off | Use WELCOME50,3.5,25,400,TWO
2,Vivaha Bhojanambu,"South Indian, Biryani, Andhra, Chinese, Tandoor",50% off | Use WELCOME50,3.8,26,500,TWO
3,Meghduth Biryanis,"Biryani, Chinese, Andhra, South Indian",40% off on all orders,3.5,28,250,TWO
4,Subbayya Gari Hotel,"South Indian, Andhra, Sweets",FREE DELIVERY,3.7,34,400,TWO
...,...,...,...,...,...,...,...
123,South by Cravery,South Indian,50% off | Use WELCOME50,--,33,600,TWO
124,Shree Meghana Foods Take Away,"Chinese, Indian, South Indian, Home Food",50% off | Use WELCOME50,3.3,32,250,TWO
125,Anjali Tiffin Center,South Indian,50% off | Use WELCOME50,--,29,100,TWO
126,JAITHRI'S SARAVANA BHAVAN,South Indian,50% off | Use WELCOME50,3.8,54,400,TWO
127,B Curries (by Biryanis & More),"Indian, South Indian, Thalis",50% off | Use WELCOME50,3.0,39,200,TWO

In [16]:
#chennai=df3

In [17]:
url2="https://www.swiggy.com/city/chennai/south-indian-collection"

In [18]:
page=requests.get(url2)

In [19]:
page

In [20]:
restaurant=[]
cuisine=[]
coupon=[]
rating=[]
delivered_in=[]
budget=[]
people=[]
for i in range(1,9):
    url="https://www.swiggy.com/city/chennai/south-indian-collection?page="+str(i)
    print(url)
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    a= soup.find_all('div', class_="nA6kb")
    for i in a:
        restaurant.append(i.text)
    b= soup.find_all('div', class_="_1gURR")
    for i in b:
        cuisine.append(i.text)    
    d= soup.find_all('span', class_="sNAfh")
    for i in d:
        coupon.append(i.text)
    
    e=soup.find_all('div', class_="_3Mn31")
    for i in e:
        rating.append(i.text.split("•")[0])
        delivered_in.append(i.text.split("•")[1].split(" ")[0])
        budget.append(i.text.split("₹")[1].split(" ")[0])
        people.append(i.text.split("₹")[1].split(" ")[2])
        
print(len(restaurant))
print(len(cuisine))
print(len(coupon))
print(len(rating))
print(len(delivered_in))
print(len(budget))
print(len(people))

https://www.swiggy.com/city/chennai/south-indian-collection?page=1
https://www.swiggy.com/city/chennai/south-indian-collection?page=2
https://www.swiggy.com/city/chennai/south-indian-collection?page=3
https://www.swiggy.com/city/chennai/south-indian-collection?page=4
https://www.swiggy.com/city/chennai/south-indian-collection?page=5
https://www.swiggy.com/city/chennai/south-indian-collection?page=6
https://www.swiggy.com/city/chennai/south-indian-collection?page=7
https://www.swiggy.com/city/chennai/south-indian-collection?page=8
20
20
20
20
20
20
20

In [21]:
df3=pd.DataFrame({'Restaurant':restaurant, 'Cuisine':cuisine, 'Coupon':coupon, 'rating':rating,"delivered_in":delivered_in,"budget":budget,"people":people})

In [22]:
df3

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people
0,Shero Home Food - Chettinad,"South Indian, Chettinad, Healthy Food",50% off | Use WELCOME50,4.0,44,300,TWO
1,New Milan Hotel,"North Indian, South Indian",50% off | Use WELCOME50,3.9,26,350,TWO
2,Kovai Kitchen,South Indian,40% off | Use GUILTFREEJAN,4.3,31,150,TWO
3,Sangeetha Veg Restaurant,"Chinese, Indian, North Indian, South Indian",50% off | Use WELCOME50,4.3,35,200,TWO
4,Naattarasan,"Chettinad, North Indian, Chinese, South Indian",50% off | Use WELCOME50,4.0,46,400,TWO
5,MS Biryani,"South Indian, Chinese",50% off | Use WELCOME50,4.2,31,250,TWO
6,Ar rahaman biriyani,"Biryani, South Indian",50% off | Use WELCOME50,3.4,38,100,TWO
7,hotel sri devi bhavan,"South Indian, Chinese",50% off | Use WELCOME50,3.9,39,199,TWO
8,GRK HOTEL,"South Indian, Chinese",FREE DELIVERY,4.0,38,250,TWO
9,NITHYA HOME FOODS,"South Indian, Indian",FREE DELIVERY,3.8,57,1000,TWO
10,ARASAMPATTI CHETTINAD FAMILY RESTAURANT,"Chettinad, Biryani, North Indian, South Indian...",50% off | Use WELCOME50,3.0,43,250,TWO
11,Shree Iyyah's Annabrahmam,"South Indian, Chinese",50% off | Use WELCOME50,3.7,44,300,TWO
12,Siddhu Kitchen,South Indian,50% off | Use WELCOME50,--,41,300,TWO
13,Loiee's veg restaurant,"North Indian, Chaat, Sweets, South Indian, Chi...",40% off | Use GUILTFREEJAN,4.0,39,250,TWO
14,S V Homemade Gourmet Food Corner,"Street Food, South Indian, Chinese, Indian",50% off | Use WELCOME50,--,48,200,TWO
15,Hotel Royal Food Corner,"Chinese, South Indian, Biryani",50% off | Use WELCOME50,--,46,200,TWO
16,Divya Tiffin Center,"South Indian, Desserts",50% off | Use WELCOME50,--,44,200,TWO
17,SRM Chettinadu Unavagam,"South Indian, Biryani, Fast Food",50% off | Use WELCOME50,--,40,500,TWO
18,The bamboo Hut,"Chinese, Biryani, South Indian, Barbecue",50% off | Use WELCOME50,--,--,400,TWO
19,Sivasakthi Tiffin Centre,South Indian,50% off | Use WELCOME50,--,--,200,TWO

In [23]:
#noida-1=df4

In [24]:
url3="https://www.swiggy.com/city/noida-1"

In [25]:
page=requests.get(url3)

In [26]:
page

In [27]:
restaurant=[]
cuisine=[]
coupon=[]
rating=[]
delivered_in=[]
budget=[]
people=[]
for i in range(1,9):
    url="https://www.swiggy.com/city/noida-1?page="+str(i)
    print(url)
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    a= soup.find_all('div', class_="nA6kb")
    for i in a:
        restaurant.append(i.text)
    b= soup.find_all('div', class_="_1gURR")
    for i in b:
        cuisine.append(i.text)    
    d= soup.find_all('span', class_="sNAfh")
    for i in d:
        coupon.append(i.text)
    
    e=soup.find_all('div', class_="_3Mn31")
    for i in e:
        rating.append(i.text.split("•")[0])
        delivered_in.append(i.text.split("•")[1].split(" ")[0])
        budget.append(i.text.split("₹")[1].split(" ")[0])
        people.append(i.text.split("₹")[1].split(" ")[2])
        
print(len(restaurant))
print(len(cuisine))
print(len(coupon))
print(len(rating))
print(len(delivered_in))
print(len(budget))
print(len(people))

https://www.swiggy.com/city/noida-1?page=1
https://www.swiggy.com/city/noida-1?page=2
https://www.swiggy.com/city/noida-1?page=3
https://www.swiggy.com/city/noida-1?page=4
https://www.swiggy.com/city/noida-1?page=5
https://www.swiggy.com/city/noida-1?page=6
https://www.swiggy.com/city/noida-1?page=7
https://www.swiggy.com/city/noida-1?page=8
128
128
130
128
128
128
128

In [28]:
df4=pd.DataFrame({'Restaurant':restaurant, 'Cuisine':cuisine, 'Coupon':coupon[0:128], 'rating':rating,"delivered_in":delivered_in,"budget":budget,"people":people})

In [29]:
df4

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people
0,KFC,"Burgers, Biryani, American, Snacks, Fast Food",40% off | Use SWIGGYIT,3.9,30,450,TWO
1,Nirula's,"Desserts, Ice Cream, Beverages, Ice Cream Cake...",50% off | Use WELCOME50,4.7,22,500,TWO
2,Simply South,South Indian,50% off | Use WELCOME50,3.7,22,250,TWO
3,Chaayos Chai+Snacks=Relax,"Bakery, Beverages, Chaat, Desserts, Fast Food,...",50% off | Use WELCOME50,4.3,30,250,TWO
4,Khan's Kathi Roll,"Chinese, Beverages, Mughlai",50% off | Use WELCOME50,3.7,22,150,TWO
...,...,...,...,...,...,...,...
123,Veer Ji Malai Chaap Wale,North Indian,50% off | Use WELCOME50,4.1,31,280,TWO
124,Bikanervala,"North Indian, South Indian, Chinese, Sweets, F...",50% off | Use WELCOME50,3.5,32,300,TWO
125,Shri Gokulam,"South Indian, North Indian, Chinese",50% off | Use WELCOME50,4.3,31,249,TWO
126,Buraans,"North Indian, Biryani, Chinese, Fast Food, Mug...",50% off | Use WELCOME50,--,31,300,TWO
127,Aalam Chicken Biryani Center,Biryani,50% off | Use WELCOME50,3.7,31,200,TWO

In [30]:
v=pd.concat([df,df2,df3,df4],axis=0)

In [31]:
v=v.reset_index(drop=True)

In [32]:
v

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people
0,Meghana Foods,"Biryani, Andhra, South Indian, North Indian, C...",50% off | Use WELCOME50,4.3,27,500,TWO
1,Puliyogare Point,South Indian,50% off | Use WELCOME50,4.5,20,150,TWO
2,Ayodhya Upachar,"Chinese, Desserts, North Indian, South Indian,...",50% off | Use WELCOME50,4.4,34,200,TWO
3,Hotel Kadamba Veg,"South Indian, North Indian, Chinese, Sweets",50% off | Use WELCOME50,4.3,37,350,TWO
4,Chikpet Donne Biryani House - Vijayanagar,"Biryani, South Indian",50% off | Use WELCOME50,4.1,23,300,TWO
...,...,...,...,...,...,...,...
399,Veer Ji Malai Chaap Wale,North Indian,50% off | Use WELCOME50,4.1,31,280,TWO
400,Bikanervala,"North Indian, South Indian, Chinese, Sweets, F...",50% off | Use WELCOME50,3.5,32,300,TWO
401,Shri Gokulam,"South Indian, North Indian, Chinese",50% off | Use WELCOME50,4.3,31,249,TWO
402,Buraans,"North Indian, Biryani, Chinese, Fast Food, Mug...",50% off | Use WELCOME50,--,31,300,TWO
403,Aalam Chicken Biryani Center,Biryani,50% off | Use WELCOME50,3.7,31,200,TWO

In [33]:
v.shape

(404, 7)

In [34]:
v.to_csv('swiggy_up.csv')

In [35]:
import os
os.getcwd()

'C:\\Users\\mandl\\Downloads'

In [36]:
city=["Banglore"]
k=128
l=[]
for i in city:
    for j in range(k):
        l.append(i)
print(l)

['Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore']

In [37]:
Location=['Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore', 'Banglore']
df["Location"]=Location

In [38]:
df

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people,Location
0,Meghana Foods,"Biryani, Andhra, South Indian, North Indian, C...",50% off | Use WELCOME50,4.3,27,500,TWO,Banglore
1,Puliyogare Point,South Indian,50% off | Use WELCOME50,4.5,20,150,TWO,Banglore
2,Ayodhya Upachar,"Chinese, Desserts, North Indian, South Indian,...",50% off | Use WELCOME50,4.4,34,200,TWO,Banglore
3,Hotel Kadamba Veg,"South Indian, North Indian, Chinese, Sweets",50% off | Use WELCOME50,4.3,37,350,TWO,Banglore
4,Chikpet Donne Biryani House - Vijayanagar,"Biryani, South Indian",50% off | Use WELCOME50,4.1,23,300,TWO,Banglore
...,...,...,...,...,...,...,...,...
123,SRI BRAHMI RUCHI,"South Indian, Indian, Juices, Chinese",50% off | Use GUILTFREEJAN,4.1,29,100,TWO,Banglore
124,Bob's Bar,"South Indian, North Indian, Desserts",50% off | Use WELCOME50,4.3,39,300,TWO,Banglore
125,Udupi Sri Krishna Bhavan,South Indian,50% off | Use WELCOME50,4.4,21,200,TWO,Banglore
126,SOUTH HOLIGE MANE,"South Indian, Snacks, Sweets",50% off | Use WELCOME50,4.4,30,200,TWO,Banglore
127,South Ruchis Square,"Biryani, Chinese, Desserts, Fast Food, Jain, N...",50% off | Use WELCOME50,4.4,30,500,TWO,Banglore

In [39]:
city=["Hyderabad"]
k=128
l=[]
for i in city:
    for j in range(k):
        l.append(i)
print(l)

['Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad']

In [40]:
Location=['Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad', 'Hyderabad']
df2["Location"]=Location

In [41]:
df2

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people,Location
0,Vasista's Sri Lakshmi,"Biryani, Tandoor, Chinese, North Indian, South...",50% off | Use WELCOME50,4.0,24,350,TWO,Hyderabad
1,Lucky Multicuisine Restaurant,"Biryani, North Indian, Tandoor, South Indian",50% off | Use WELCOME50,3.5,25,400,TWO,Hyderabad
2,Vivaha Bhojanambu,"South Indian, Biryani, Andhra, Chinese, Tandoor",50% off | Use WELCOME50,3.8,26,500,TWO,Hyderabad
3,Meghduth Biryanis,"Biryani, Chinese, Andhra, South Indian",40% off on all orders,3.5,28,250,TWO,Hyderabad
4,Subbayya Gari Hotel,"South Indian, Andhra, Sweets",FREE DELIVERY,3.7,34,400,TWO,Hyderabad
...,...,...,...,...,...,...,...,...
123,South by Cravery,South Indian,50% off | Use WELCOME50,--,33,600,TWO,Hyderabad
124,Shree Meghana Foods Take Away,"Chinese, Indian, South Indian, Home Food",50% off | Use WELCOME50,3.3,32,250,TWO,Hyderabad
125,Anjali Tiffin Center,South Indian,50% off | Use WELCOME50,--,29,100,TWO,Hyderabad
126,JAITHRI'S SARAVANA BHAVAN,South Indian,50% off | Use WELCOME50,3.8,54,400,TWO,Hyderabad
127,B Curries (by Biryanis & More),"Indian, South Indian, Thalis",50% off | Use WELCOME50,3.0,39,200,TWO,Hyderabad

In [42]:
city=["Chennai"]
k=20
l=[]
for i in city:
    for j in range(k):
        l.append(i)
print(l)

['Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai']

In [43]:
Location=['Chennai','Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai']
df3["Location"]=Location
df3

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people,Location
0,Shero Home Food - Chettinad,"South Indian, Chettinad, Healthy Food",50% off | Use WELCOME50,4.0,44,300,TWO,Chennai
1,New Milan Hotel,"North Indian, South Indian",50% off | Use WELCOME50,3.9,26,350,TWO,Chennai
2,Kovai Kitchen,South Indian,40% off | Use GUILTFREEJAN,4.3,31,150,TWO,Chennai
3,Sangeetha Veg Restaurant,"Chinese, Indian, North Indian, South Indian",50% off | Use WELCOME50,4.3,35,200,TWO,Chennai
4,Naattarasan,"Chettinad, North Indian, Chinese, South Indian",50% off | Use WELCOME50,4.0,46,400,TWO,Chennai
5,MS Biryani,"South Indian, Chinese",50% off | Use WELCOME50,4.2,31,250,TWO,Chennai
6,Ar rahaman biriyani,"Biryani, South Indian",50% off | Use WELCOME50,3.4,38,100,TWO,Chennai
7,hotel sri devi bhavan,"South Indian, Chinese",50% off | Use WELCOME50,3.9,39,199,TWO,Chennai
8,GRK HOTEL,"South Indian, Chinese",FREE DELIVERY,4.0,38,250,TWO,Chennai
9,NITHYA HOME FOODS,"South Indian, Indian",FREE DELIVERY,3.8,57,1000,TWO,Chennai
10,ARASAMPATTI CHETTINAD FAMILY RESTAURANT,"Chettinad, Biryani, North Indian, South Indian...",50% off | Use WELCOME50,3.0,43,250,TWO,Chennai
11,Shree Iyyah's Annabrahmam,"South Indian, Chinese",50% off | Use WELCOME50,3.7,44,300,TWO,Chennai
12,Siddhu Kitchen,South Indian,50% off | Use WELCOME50,--,41,300,TWO,Chennai
13,Loiee's veg restaurant,"North Indian, Chaat, Sweets, South Indian, Chi...",40% off | Use GUILTFREEJAN,4.0,39,250,TWO,Chennai
14,S V Homemade Gourmet Food Corner,"Street Food, South Indian, Chinese, Indian",50% off | Use WELCOME50,--,48,200,TWO,Chennai
15,Hotel Royal Food Corner,"Chinese, South Indian, Biryani",50% off | Use WELCOME50,--,46,200,TWO,Chennai
16,Divya Tiffin Center,"South Indian, Desserts",50% off | Use WELCOME50,--,44,200,TWO,Chennai
17,SRM Chettinadu Unavagam,"South Indian, Biryani, Fast Food",50% off | Use WELCOME50,--,40,500,TWO,Chennai
18,The bamboo Hut,"Chinese, Biryani, South Indian, Barbecue",50% off | Use WELCOME50,--,--,400,TWO,Chennai
19,Sivasakthi Tiffin Centre,South Indian,50% off | Use WELCOME50,--,--,200,TWO,Chennai

In [44]:
city=["Noida1"]
k=128
l=[]
for i in city:
    for j in range(k):
        l.append(i)
print(l)

['Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1']

In [45]:
Location=['Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1', 'Noida1']
df4["Location"]=Location

In [46]:
df4

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people,Location
0,KFC,"Burgers, Biryani, American, Snacks, Fast Food",40% off | Use SWIGGYIT,3.9,30,450,TWO,Noida1
1,Nirula's,"Desserts, Ice Cream, Beverages, Ice Cream Cake...",50% off | Use WELCOME50,4.7,22,500,TWO,Noida1
2,Simply South,South Indian,50% off | Use WELCOME50,3.7,22,250,TWO,Noida1
3,Chaayos Chai+Snacks=Relax,"Bakery, Beverages, Chaat, Desserts, Fast Food,...",50% off | Use WELCOME50,4.3,30,250,TWO,Noida1
4,Khan's Kathi Roll,"Chinese, Beverages, Mughlai",50% off | Use WELCOME50,3.7,22,150,TWO,Noida1
...,...,...,...,...,...,...,...,...
123,Veer Ji Malai Chaap Wale,North Indian,50% off | Use WELCOME50,4.1,31,280,TWO,Noida1
124,Bikanervala,"North Indian, South Indian, Chinese, Sweets, F...",50% off | Use WELCOME50,3.5,32,300,TWO,Noida1
125,Shri Gokulam,"South Indian, North Indian, Chinese",50% off | Use WELCOME50,4.3,31,249,TWO,Noida1
126,Buraans,"North Indian, Biryani, Chinese, Fast Food, Mug...",50% off | Use WELCOME50,--,31,300,TWO,Noida1
127,Aalam Chicken Biryani Center,Biryani,50% off | Use WELCOME50,3.7,31,200,TWO,Noida1

In [49]:
f=pd.concat([df,df2,df3,df4],axis=0)
f.reset_index(drop=True)

,Restaurant,Cuisine,Coupon,rating,delivered_in,budget,people,Location
0,Meghana Foods,"Biryani, Andhra, South Indian, North Indian, C...",50% off | Use WELCOME50,4.3,27,500,TWO,Banglore
1,Puliyogare Point,South Indian,50% off | Use WELCOME50,4.5,20,150,TWO,Banglore
2,Ayodhya Upachar,"Chinese, Desserts, North Indian, South Indian,...",50% off | Use WELCOME50,4.4,34,200,TWO,Banglore
3,Hotel Kadamba Veg,"South Indian, North Indian, Chinese, Sweets",50% off | Use WELCOME50,4.3,37,350,TWO,Banglore
4,Chikpet Donne Biryani House - Vijayanagar,"Biryani, South Indian",50% off | Use WELCOME50,4.1,23,300,TWO,Banglore
...,...,...,...,...,...,...,...,...
399,Veer Ji Malai Chaap Wale,North Indian,50% off | Use WELCOME50,4.1,31,280,TWO,Noida1
400,Bikanervala,"North Indian, South Indian, Chinese, Sweets, F...",50% off | Use WELCOME50,3.5,32,300,TWO,Noida1
401,Shri Gokulam,"South Indian, North Indian, Chinese",50% off | Use WELCOME50,4.3,31,249,TWO,Noida1
402,Buraans,"North Indian, Biryani, Chinese, Fast Food, Mug...",50% off | Use WELCOME50,--,31,300,TWO,Noida1
403,Aalam Chicken Biryani Center,Biryani,50% off | Use WELCOME50,3.7,31,200,TWO,Noida1

In [50]:
f.iloc[:,[0,7,1,2,3,4,5,6]]

,Restaurant,Location,Cuisine,Coupon,rating,delivered_in,budget,people
0,Meghana Foods,Banglore,"Biryani, Andhra, South Indian, North Indian, C...",50% off | Use WELCOME50,4.3,27,500,TWO
1,Puliyogare Point,Banglore,South Indian,50% off | Use WELCOME50,4.5,20,150,TWO
2,Ayodhya Upachar,Banglore,"Chinese, Desserts, North Indian, South Indian,...",50% off | Use WELCOME50,4.4,34,200,TWO
3,Hotel Kadamba Veg,Banglore,"South Indian, North Indian, Chinese, Sweets",50% off | Use WELCOME50,4.3,37,350,TWO
4,Chikpet Donne Biryani House - Vijayanagar,Banglore,"Biryani, South Indian",50% off | Use WELCOME50,4.1,23,300,TWO
...,...,...,...,...,...,...,...,...
123,Veer Ji Malai Chaap Wale,Noida1,North Indian,50% off | Use WELCOME50,4.1,31,280,TWO
124,Bikanervala,Noida1,"North Indian, South Indian, Chinese, Sweets, F...",50% off | Use WELCOME50,3.5,32,300,TWO
125,Shri Gokulam,Noida1,"South Indian, North Indian, Chinese",50% off | Use WELCOME50,4.3,31,249,TWO
126,Buraans,Noida1,"North Indian, Biryani, Chinese, Fast Food, Mug...",50% off | Use WELCOME50,--,31,300,TWO
127,Aalam Chicken Biryani Center,Noida1,Biryani,50% off | Use WELCOME50,3.7,31,200,TWO